.search {
    text-align: left;
}

.bd-masthead {
    /* fallback for old browsers */
    background: #ffffff;
    
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to top, rgba(255,255,255,0.55), rgba(242,172,74,0.55));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top, rgba(255,255,255,0.55), rgba(242,172,74,0.55))
}

.netid {
    font-family: 'Courier New', Courier, monospace;
}

a:link {
    text-decoration: none;
  }
  
